#SwiperPanorama { height: 100% }


.swiperContainer {
  width: 100%;
  height: 750px;
}

.swiperSlide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.imagePanorama {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgTitle {
    font-family: Amsterdam;
    font-size: 2.5rem;
    
    text-shadow: 2px 1px 4px black;
    position:absolute;
    top:9%;
    left:7%;
    color: white;
    pointer-events:none;
    z-index:4;
    transition: .6s ease-in-out;
}

.services {

    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

    text-shadow: 2px 1px 4px black;
    position:absolute;
    top:25%;
    left:7%;
    color: white;
    pointer-events:none;
    z-index:4;
    transition: .6s ease-in-out; 
    text-align: left;
    line-height: 20px;
}

.imgTitle1 {
    font-family: Amsterdam ;
  font-size: 2.5rem;
  text-shadow: 2px 1px 4px black;
  position:absolute;
  top:35%;
  right:10%;
  color: white;
  pointer-events:none;
  z-index:4;
  transition: 0.6s ease-in-out;
  text-align: right;
}

.services1 {

    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 1px 4px black;
    position:absolute;
    top:51%;
    right:10%;
    color: white;
    pointer-events:none;
    z-index:4;
    transition: .6s ease-in-out; 
    text-align: right;
    line-height: 20px;
}

@media screen and (max-width:768px){

  .imgTitle {

  font-size: 2rem;
  top:10%;
}
 
.services {


    font-size: 1.2rem;
line-height: 7px;
top:20%;
}

.imgTitle1 {

  font-size: 2rem;
  top: 45%;
 
}

.services1 {

 
    font-size: 1.2rem;
    line-height: 7px;
    top: 55%;
   
}

}